<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastrar Produto</title>
  </head>
  <body>
    <h1>Cadastro de Produto</h1>
    <form action="/products" method="post" class="">
      <p>Inclua as informações do produto abaixo</p>
      <div>
        <label for="name">Nome do produto: </label>
        <input type="text" name="name" id="name" required/>
      </div>
      <div>
        <label for="description">Descrição do produto: </label>
        <input type="text" name="description" id="description" required/>
      </div>
      <div>
        <label for="value">Valor do produto: </label>
        <input type="text" name="value" id="value" required/>
      </div>
      <div>
        <label for="supplier">Fornecedor: </label>
        <input type="text" name="supplier" id="supplier" required/>
      </div>
      <div class="">
        <input type="submit" value="Cadastrar"/>
      </div>
    </form>
  </body>
</html>
